*{
    margin: 0;
    border: 0;
    padding: 0;
  }
  #imagem-topo{
    
    background-color: #ADD8E6;
    text-align: center;
  }
  p{
    padding: 15px;
    text-align: justify;
    font-family: arial;
    font-size: 18px;
  }
  h1, h2{
    font-family: arial;
    text-align: center;
    color: #4682B4;
  }
  h3{
    font-family: arial;
  }

  footer{
    background-color: #ADD8E6;
    text-align: center;
  }
  img{
    width: 50%;
    height: 50%;
  }
  .contato{
    font-size: 0.95em;
  }
  .cliente{
    text-align: center;
    color: #4682B4;
    font-family: arial;
  }